body {
    background-color: #EFEEEE;
}
.has-fullheight {
    height: 100% !important;
}
.is-text-vertical-right {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.is-align-center {
    display: flex !important;
    align-items: center;
    justify-content: center !important;
    flex-grow: 1;
}
.has-no-border {
    border: none !important;
}
.is-icon-list {
    position: fixed;
    top: 0;
    right: 3rem;
    bottom: 0;
    text-align: center !important;
    font-size: 1rem;
    z-index: 20 !important;
    span {
        writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
    }
    svg {
        display: block !important;
        margin: 0.75rem;
    }
    @media only screen and (max-width: $mobile) {
        display: none !important;
    }
}
figure {
    img {
        border-radius: 5px !important;
    }
}
.is-cursor-hand {
    cursor: pointer;
}

.is-border-bottom {
    border-bottom: 1px solid #999999;
    padding-bottom: 4rem !important;
}