body {
    background-color: #EFEEEE;
}
.container {
    overflow: hidden !important;
    .img {
        &-face {
            max-height: 90%;
            top: 70px;
            left: 20%;
            border-radius: 10px;
            transition: all 0.2s;
            z-index: 5;
            @media only screen and (max-width: $mobile) {
                max-width: 250px;
            }
        }
    }
    .is-main-title {
        flex-grow: 1;
        @media only screen and (max-width: $mobile) {
            text-align: center !important;
        }
    }
    .is-cta {
        .is-cta {
            &-contact {
                border-radius:8px;
                width:240px;
                padding: 1rem;
                background-color:#4B57A1;
                color: #ffffff;
                transition: all 0.4s ease 0s;

                /* Neumorphism */
                // background-color:#EFEEEE;
                // box-shadow: 9px 9px 16px rgba(206,206,206,0.5), -9px -9px 16px rgba(255,255,255, 0.5);

                &:hover {
                    background-color: #3a447d;
                    transition: all 0.4s ease 0s;
                }
            }
            &-resume {
                border-radius:8px;
                width:240px;
                padding: 1rem;
                margin-left: 2rem;
                border:2px solid #4B57A1;
                color: #4B57A1;
                transition: all 0.4s ease 0s;
                &:hover {
                    transition: all 0.4s ease 0s;
                    background-color: #4B57A1;
                    color: #ffffff;                    
                }
            }
        }
    }
}
.is-button-next {
    padding: 0.5rem 1rem;
    background-color: $purple;
    border-radius: 50%;
    color: $white !important;
}
.nuxt-link-exact-active {
    color: $purple !important;
}
.has-fullheight {
    height: 100% !important;
}
.is-align-center {
    display: flex !important;
    align-items: center;
    justify-content: center !important;
    flex-grow: 1;
}
.has-no-border {
    border: none !important;
}
.is-icon-list {
    position: fixed;
    top: 0;
    right: 3rem;
    bottom: 0;
    text-align: center !important;
    font-size: 1.2rem;
    z-index: 20 !important;
    span {
        writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
    }
    svg {
        display: block !important;
        margin: 0.75rem;
    }
    @media only screen and (max-width: $mobile) {
        display: none !important;
    }
}
figure {
    img {
        border-radius: 5px !important;
    }
}
.is-img-experience {
    border-radius: 5px;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    object-position: center;
}
.is-img-travels {
    object-fit: cover;
    object-position: center;
}
.is-overlay {
    background-color: hsla(0,0%,4%,.8) !important;
    z-index: 80;
}
.is-overlay-project {
    background-color: hsla(0,0%,4%,.2) !important;
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 5px;
}
.is-cursor-hand {
    cursor: pointer;
}
// tooltip
.is-hover {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: all 1s;
    background-color: rgba(0,0,0,0);
    color: rgba(255,255,255,0);
    text-align: center;
    border-radius: 5px;
    font-size: 0.75em;
}
.is-skill:hover .is-hover {
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #ffffff;
}
.is-skills {
    div:last-child {
        .is-hover {
            display: none !important;
        }
    }
}