// HOME
//////////////////////

.container {
    overflow: hidden !important;
    .img {
        &-face {
            // height: 90%;
            max-height: 90% !important;
            max-width: 90% !important;
            border-radius: 10px;
            transition: all 0.2s;
            z-index: 5;
            @media only screen and (max-width: $mobile) {
                max-width: 90%;
            }
        }
    }
    .is-main-title {
        flex-grow: 1;
        @media only screen and (max-width: $mobile) {
            text-align: center !important;
        }
    }
    .buttons {
        .button {
            &-contact {
                width:100%;
                padding: 1.5rem;
                background-color:#4B57A1;
                color: #ffffff;
                transition: all 0.4s ease 0s;
                &:hover {
                    background-color: #3a447d;
                    transition: all 0.4s ease 0s;
                }
            }
            &-resume {
                width:100%;
                padding: 1.5rem;
                border:2px solid #4B57A1;
                background-color: transparent;
                color: #4B57A1;
                transition: all 0.4s ease 0s;
                &:hover {
                    transition: all 0.4s ease 0s;
                    background-color: #4B57A1;
                    color: #ffffff;                    
                }
            }
        }
    }
    @media only screen and (max-width: $desktop) {
      margin: 0 1rem 0 1rem;
    }
}

// Transition

.home-enter-active,
.home-leave-active {
  transition-duration: $t-duration * 2;

  &::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: block;
    width: 100%;
    height: 100%;
    transition-property: opacity, transform;
    // transition-timing-function: ease-in-out;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  &::before {
    background-color: #3a447d;
  }
}

.home-leave {
  &::before{
    transform: scaleX(0);
  }
}

.home-leave-active {
  &::before {
    transition-duration: $t-duration;
  }
}

.home-leave-to {
  &::before {
    transform: scale(1);
    transform-origin: left;
  }
}

.home-enter {
  &::before {
    transform: scaleX(1);
  }
}

.home-enter-active {
  &::before {
    transition-duration: $t-duration;
  }
}

.home-enter-to {
  &::before {
    transform: scaleX(0);
    transform-origin: right;
  }
}


// ABOUT
//////////////////////

.is-img-about {
    border-radius: 10px;
    transition: all 0.2s;
    z-index: 5;
    background-size: cover;
    @media only screen and (max-width: $mobile) {
        max-width: 250px;
    }
}
.is-skills {
    .image.is-square {
        padding: 2rem;
    }
}


// WORKS
//////////////////////

.work-enter-active,
.work-leave-active {
  transition-duration: $t-duration * 2;

  &::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: block;
    width: 100%;
    height: 100%;
    transition-property: opacity, transform;
    // transition-timing-function: ease-in-out;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  &::before {
    background-color: #3a447d;
  }
}

.work-leave {
  &::before{
    transform: scaleX(0);
  }
}

.work-leave-active {
  &::before {
    transition-duration: $t-duration;
  }
}

.work-leave-to {
  &::before {
    transform: scale(1);
    transform-origin: right;
  }
}

.work-enter {
  &::before {
    transform: scaleX(1);
  }
}

.work-enter-active {
  &::before {
    transition-duration: $t-duration;
  }
}

.work-enter-to {
  &::before {
    transform: scaleX(0);
    transform-origin: left;
  }
}