.has-text-purple {
    color: $purple !important;
    a {
        color: $purple !important;
    }
}
.has-background-purple {
    background-color: $purple !important;
    color: $white !important;
    &:hover {
        background-color: $purple-light !important;
        color: $white !important;
    }
}
.has-background-transparent {
    background-color: transparent !important;
}