.has-text-purple {
    color: $purple !important;
    a {
        color: #a4ade6 !important;
        &:hover {
            color: whitesmoke !important;
        }
    }
}
.has-rs-purple {
    a {
        color: #9fa9e4 !important;
        &:hover {
            color: $purple !important;
        }
    }
}
.has-background-purple {
    background-color: $purple !important;
    color: $white !important;
    &:hover {
        background-color: $purple-light !important;
        color: $white !important;
    }
}
.has-background-transparent {
    background-color: transparent !important;
}