html, body {
    font-family: $open-sans !important;
}

.is-font-title {
    font-family: $Varela-round !important;
}

.is-font-size-6 {
    font-size: 6rem !important;
}
.is-font-size-3 {
    font-size: 3rem !important;
}