html, body {
    font-family: $noto-sans-jp !important;
}
.font-noto {
    font-family: $noto-sans !important;
}
.font-noto-jp-normal {
    font-family: $noto-sans-jp !important;
}
.font-noto-jp-black {
    font-family: $noto-sans-jp !important;
    font-weight: 900 !important;
}
.font-noto-jp-thin {
    font-family: $noto-sans-jp !important;
    font-weight: 100 !important;
}

.is-font-size-6 {
    font-size: 6rem !important;
}
.is-font-size-3-5 {
    font-size: 3.5rem !important;
}