// Margin - Padding Base

$utility-base: 16px;
$mobile: 768px;
$tablet: 769px;
$tablet-max: 1087px;

// Color

$white: #ffffff;
$purple: #4B57A1;
$purple-light: #4B57A1;

// Font
$open-sans: 'Open Sans', sans-serif;
$Varela-round: 'Varela round', sans-serif;