// Margin - Padding Base

$utility-base: 16px;
$mobile: 768px;
$tablet: 769px;
$tablet-max: 1087px;

// Color

$white: #ffffff;
$corail: #4B57A1;
$corail-light: #4B57A1;

// Font
$noto-sans: 'Noto Sans', sans-serif;
$noto-sans-jp: 'Noto Sans JP', sans-serif;